 <nav>
        <div class="logo">
            JS_RIDERS
        </div>
        <div class="links">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="">Contact</a>
            <a href="">Signup</a>
        </div>
    </nav>